/* line 3, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 8, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* body {
  background-color: #233160;
  color: white;
  font-family: Asap, sans-serif;
}

/* line 14, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* header {
  background-color: white;
  padding: 20px;
}

/* line 17, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* header h1 {
  text-align: center;
  color: #233160;
}

/* line 22, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* .score-board {
  border: 3px solid white;
  border-radius: 4px;
  font-size: 50px;
  margin: 20px auto;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  width: 30%;
}

/* line 31, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* .score-board .badge {
  background-color: orange;
  border-radius: 4px;
  font-size: 18px;
  padding: 5px;
}

/* line 37, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* .score-board #user-label {
  position: absolute;
  top: 30px;
  left: -30px;
}

/* line 42, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* .score-board #comp-label {
  position: absolute;
  top: 30px;
  right: -30px;
}

/* line 48, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* .result {
  font-size: 40px;
}

/* line 50, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* .result p {
  font-weight: bold;
  text-align: center;
}

/* line 55, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* .choices {
  margin: 50px 0;
  text-align: center;
}

/* line 58, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* .choices .choice {
  border: 6px solid white;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
  padding: 12px;
  transition: all 0.5s ease;
}

/* line 65, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* .choices .choice img {
  border-radius: 50%;
}

/* line 69, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* .choices .choice:hover {
  border-color: orange;
  cursor: pointer;
}

/* line 74, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* #action-message {
  color: white;
  font-family: Asap, sans-serif;
  font-size: 20px;
  text-align: center;
}

/* line 80, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* .green-glow {
  border-color: green !important;
  box-shadow: 0 0 10px #001a00;
}

/* line 84, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* .red-glow {
  border-color: red !important;
  box-shadow: 0 0 10px #990000;
}

/* line 88, /Users/dumezwenindlovu/Desktop/_Project_Working/Portfolio_Projects/RockPaperScissors/sass/main.scss */
* .gray-glow {
  border-color: gray !important;
  box-shadow: 0 0 10px #4d4d4d;
}

/*# sourceMappingURL=../css/main.map */